<ion-header>
  <!--
    <ion-toolbar>
      <ion-title>
        Beacon Indoor App
      </ion-title>
    </ion-toolbar>
  -->
  
  </ion-header>

  <ion-content>
    <div id="map_canvas">
      <ion-button ion-button float-right (click)="startScan()" *ngIf="scanning==false">Start</ion-button>
      <ion-button ion-button float-right (click)="stopScan()" *ngIf="scanning">Stop</ion-button>
    </div>

    <!-- ion-button expand="block" (click)="start()">Start</ion-button-->

  <!--ion-list>

    <ion-item>

      <ion-label>
        <h2>Steps: {{ steps}}</h2>

      </ion-label>


    </ion-item>

    <ion-item *ngFor="let device of getDevices() ">

      <ion-label>
        <h2>{{ device.displayName || 'Unnamed' }}</h2>
        <h2>Distance: {{ device.distance }}</h2>
        <h2>Activation distance: {{ device.activationDistance }}</h2>
        <p>{{ device.name || 'Unnamed' }}</p>
        <p id="{{ device.id }}">{{ device.id }}</p>
        <p>RSSI: {{ device.rssi }}</p>
        <h2 *ngIf="device.entered">Entered Range</h2>
        <h2 *ngIf="device.taken">Poi taken</h2>
        <ion-button *ngIf="!device.entered" expand="block" (click)="enterBeaconPoiRange(device.id)" color="warning">enterRange</ion-button>
        <ion-button *ngIf="!device.taken && device.entered && device.distance < device.activationDistance" expand="block" (click)="takeBeaconPoi(device.id)" color="success">Take Poi</ion-button>
      </ion-label>


    </ion-item>


  </ion-list-->

</ion-content>

<!--ion-footer>
  <ion-toolbar>
    <p>{{ statusMessage }}</p>
  </ion-toolbar>
</ion-footer-->
